html.
  <!DOCTYPE html>
  <html lang="en" ng-app="ophomehub">
    <head>
      <title>Open Automated Smart Home</title>
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
      <link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
    </head>

    <body>

      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" style="font-family: 'Bangers', cursive;">OP Home Hub</a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
            <!--
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
              -->
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>

      <div class="container" style="padding-top:50px;">
        <h2 style="font-family: 'Bangers', cursive;">Welcome to your Home Hub!</h2>
        <div id="currentDescription"></div>
        <hr/>
        <div class="container" ng-controller="DataViewController as dataCtrl">
          <div class="row">
            <div class="col-md-2" id="weatherData">
            </div>
            <div class="col-md-2" id="forecast1">
            </div>
            <div class="col-md-2" id="forecast2">
            </div>
            <div class="col-md-2" id="forecast3">
            </div>
            <div class="col-md-2" id="forecast4">
            </div>
          </div>
          <hr/>

      </div>
      Powered with <a href="http://azure.microsoft.com/en-us/">Azure</a> and <a href="http://www.wunderground.com/weather/api">WeatherUnderground APIs</a>
      </div><!-- /.container -->
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
      <script>
      jQuery(document).ready(function($) {
        $.ajax({
        url : "http://api.wunderground.com/api/e3eedace3c185bf9/forecast/conditions/q/WA/Seattle.json",
        dataType : "jsonp"
        }).success(function(parsed_json) {
        var location = parsed_json.current_observation.display_location.full;
        var temp_f = parsed_json.current_observation.temp_f;
        document.getElementById("currentDescription").innerHTML = "Current temperature in " + location + " is: " + temp_f;
        document.getElementById("weatherData").innerHTML += 'Currently<br/><img src="'+parsed_json.current_observation.icon_url+'"><br/>Conditions are ' + parsed_json.current_observation.weather;
        document.getElementById("weatherData").innerHTML += '<br/>';
        
        var forecastDay = parsed_json.forecast.txt_forecast.forecastday
        document.getElementById("forecast1").innerHTML = forecastDay[0].title + '<br/><img src="'+forecastDay[0].icon_url+'"><br/>' + forecastDay[0].fcttext;
        document.getElementById("forecast2").innerHTML = forecastDay[1].title + '<br/><img src="'+forecastDay[1].icon_url+'"><br/>' + forecastDay[1].fcttext;
        document.getElementById("forecast3").innerHTML = forecastDay[2].title + '<br/><img src="'+forecastDay[2].icon_url+'"><br/>' + forecastDay[2].fcttext;
        document.getElementById("forecast4").innerHTML = forecastDay[3].title + '<br/><img src="'+forecastDay[3].icon_url+'"><br/>' + forecastDay[3].fcttext;
        });
      });
      </script>
    </body>
  </html>